<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823807068177-235fnlmcbt7n2ibu86mr173t7f0ug554.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823807068177-235fnlmcbt7n2ibu86mr173t7f0ug554</string>
	<key>API_KEY</key>
	<string>AIzaSyAilL_W8DqChX9ldnx_GUk-hjPXfQvAH-A</string>
	<key>GCM_SENDER_ID</key>
	<string>823807068177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-a35c3</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-a35c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823807068177:ios:122ef906064f00b9e809b0</string>
</dict>
</plist>